<div id="main-wrap">
  <div id="top">

  </div>
  <div id="left">

    <ul class="list-group" style="margin-bottom: 20px;">
      <a routerLinkActive="active" routerLink="/customer" style="text-decoration: none; color: white">
        <li class="list-group-item" style="background-color: #1E282C; border: 0px; border-radius: 0px;">Customer</li>
      </a>

      <a routerLinkActive="active" routerLink="/order" style="text-decoration: none; color: white">
        <li class="list-group-item" style="background-color: #1E282C; border: 0px; border-radius: 0px;">Order</li>
      </a>

      <a routerLinkActive="active" routerLink="/item" style="text-decoration: none; color: white">
        <li class="list-group-item" style="background-color: #1E282C; border: 0px; border-radius: 0px;">Item</li>
      </a>
    </ul>

  </div>

  <div id="count-aria">

  </div>

  <div class="main" [@animRoutes]="getPage(appOutlet)">
    <router-outlet #appOutlet="outlet"></router-outlet>
  </div>

</div>
