<div id="wrap">

  <div id="searchbar">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search here">
      <div class="input-group-append"
           style="padding: 5px 20px 0px 20px; background-color: #130f40; border: 1px solid #ECF0F5; color: #ECF0F5">
        SEARCH
      </div>
    </div>
  </div>

  <div id="content">
    <div id="left">
      <form>
        <input type="text" placeholder="customer id" class="form-control"
               style="width: 90%; margin-left: 5%; margin-top: 10px">
        <input type="text" placeholder="first Name" class="form-control"
               style="width: 90%; margin-left: 5%; margin-top: 10px">
        <input type="text" placeholder="Last Name" class="form-control"
               style="width: 90%; margin-left: 5%; margin-top: 10px">
        <textarea class="form-control" style="width: 90%; margin-left: 5%; margin-top: 10px"
                  placeholder="address"></textarea>
        <input type="button" class="btn btn-primary" value="Save"
               style=" width:40%; float: left; margin-left: 5%; margin-top: 10px">
        <input type="button" class="btn btn-warning" value="Update"
               style=" width:40%; float: right; margin-right: 5%; margin-top: 10px">
      </form>
    </div>
    <div id="right">
      <table class="table table-striped table-dark table-hover">
        <thead>
        <tr>
          <th>CusID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>C001</td>
          <td>Hasika</td>
          <td>Sandaruwan</td>
          <td>Colombo<i style="font-size: 15px; color: burlywood; margin-left: 20px;" class="fas fa-trash-alt"></i><i
            style="font-size: 15px; color: #ECF0F5; margin-left: 20px;" class="fas fa-pen"></i></td>
        </tr>
        <tr>
          <td>C001</td>
          <td>Hasika</td>
          <td>Sandaruwan</td>
          <td>Colombo<i style="font-size: 15px; color: burlywood; margin-left: 20px;" class="fas fa-trash-alt"><i
            style="font-size: 15px; color: #ECF0F5; margin-left: 20px;" class="fas fa-pen"></i></i></td>
        </tr>
        <tr>
          <td>C001</td>
          <td>Hasika</td>
          <td>Sandaruwan</td>
          <td>Colombo<i style="font-size: 15px; color: burlywood; margin-left: 20px;" class="fas fa-trash-alt"><i
            style="font-size: 15px; color: #ECF0F5; margin-left: 20px;" class="fas fa-pen"></i></i></td>
        </tr>
        <tr>
          <td>C001</td>
          <td>Hasika</td>
          <td>Sandaruwan</td>
          <td>Colombo<i style="font-size: 15px; color: burlywood; margin-left: 20px;" class="fas fa-trash-alt"></i><i
            style="font-size: 15px; color: #ECF0F5; margin-left: 20px;" class="fas fa-pen"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
